    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="/"><span>Home Page</span></a></li>
          <li><a href="support"><span>Support</span></a></li>
          <li><a href="about-us"><span>About Us</span></a></li>
          <li><a href="blog"><span>Blog</span></a></li>
          <li><a href="contact-us"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="logo">
        <h1><a href="index.html">it<span>Simple</span></a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="/images/slide1.jpg" width="960" height="360" alt="" /> </a> <a href="#"><img src="/images/slide2.jpg" width="960" height="360" alt="" /> </a> <a href="#"><img src="/images/slide3.jpg" width="960" height="360" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>